
  {{#each data.clubes as |club|}}
  <tr></tr>
    <td>{{id}}</td>
    <td>{{name}}</td>
    <td><button onclick="location.href='club/{{id}}'" type="button">Ver</button><button>Editar</button><button>Borrar</button></td></tr>
  {{/each}}


